/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
} 
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================== 
   Section 1 -> Homepage 
   ===================== */



body *{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

main{
    background: #8342FF;
    color: white; 
    
}

#name{
    display: flex;
    padding: 1em;
}

#name a {
    margin: .75em;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}


#header-main{
    text-align:center;
    padding: 1em;
    margin-top: -5em;
}

#robo-mascot{
    height: 160px;
    width: auto;
    position: relative;
    right: 13em;
    top: 1.9em;
    transform: rotate(11deg);
}

#robo-with-box-mascot{
    height: 200px;
    width: auto;
    position: relative;
    top: 37.75em;
    left: 25em;
}

#header-main p{
    font-size: 6em;
    font-family: 'Russo One', sans-serif;
}

#header-main ul{
    display: flex;
    justify-content:center;
    margin-top: 1em;
    font-size: 1em;
}
#header-main ul a{
    text-decoration: none;
    color: rgb(252, 248, 248);
    padding: .75em;
}

#mascots{
    text-align: center;
    padding: 3em 2em 0 2em;
}

#blue-mascot,
#green-mascot{
    margin-bottom: 3em;
    height: 202px;
}

#orange-mascot{
    height: 229px;
    padding: 0 0;
    margin-bottom: -3px;
}

#main-bottom{
    background: #0E0E0E;
    height: 110px;
}

/* ===================== 
   Section 2 -> Deco 
   ===================== */

#hero{
    padding: 1em 0;
    background-image:url(images/grid.svg);
}
#wrapper-deco{
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
    box-sizing: border-box;
    width: 960px;
    margin: auto;
    margin-top: 2em;
}

#header-deco{
    font-weight: bolder;
    font-size:60px;
    margin-bottom: 20px;
}

#deco-left{
    margin: 0 1em;
 }
 
 #deco-left div{
     background: #0E0E0E;
     padding: 3em;
     height: 10em;
     border-radius: 1em;
     width: 10em;
 }
 
 #deco-right{
     margin: 2em;
  }
 
/* ===================== 
   Section 3 -> Aggregator 
   ===================== */

#wrapper-aggregator{
    margin-left: auto;
    margin-right: auto;
}

#black-bg-aggregator{
    background-image: url(images/black-bg-aggregator.svg);
    height: 290px;
    width: auto;
    margin: 220px 0;
}

#aggregator-main{
    background: #5556EF;
    color: white;
    border-radius: 30px;
    height: 570px;
    padding: 5em 3em;
    display: flex;
    width: 1095px;
    margin: auto;
    position: absolute;
    top: 95em;
    left: 0;
    right: 0;
}

#aggregator-left{
    margin: 0 2em 0 0;
}

#aggregator-left span{
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#aggregator-left p{
    margin-top: 1em;
    font-size: large;
    line-height: 1.25em;
}

#aggregator-left ul{
    display: flex;
    justify-content: center;
    padding: 1em;
}

#aggregator-left ul li{
    padding: 0 5px;
    font-size: 2em;
}

#nft-logo-group{
    margin-top: 2em;
    margin-left: 3em;
    width: 400px;
}

#aggregator-svg{
    height: 270px;
    width: auto;
    margin: 3em 0 0 0;
}


/* ===================== 
   Section 1 -> Hype Cards 
   ===================== */

#wrapper-hype-card{
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin: auto;
    margin-bottom: 3em;
    margin-top: -3em;
}

#header-hype-card {
    font-weight: bolder;
    font-size:60px;
    margin-top: 3em;
}

/* ===================== 
   Section 5 -> Contact Page 
   ===================== */

#contact{
    background-color: #5556EF;
    color: whitesmoke;
}

#wrapper-contact{
    display: flex;
    padding: 0 3em;
}

#contact-left{
    margin: auto;
}

#header-contact{
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
    font-size: 4em;
    margin-bottom: 10px;
}

#contact button{
    box-sizing: border-box;
    color: whitesmoke;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 1em 6em;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

#text-design{
    background: url(images/footer-eyes.svg);
    height: 125px;
    margin-top: 3em;
    margin-bottom: -3em;
}

#join-us-contact-svg{
   margin-top: 3em;
}

/* ===================== 
     Footer 
   ===================== */

footer{
    display: flex;
    justify-content: space-between;
    padding: 3em;
    height: 184px;
    background-color: #0E0E0E;
    color: whitesmoke;
}

footer p{
    font-size: x-small;
    margin-top: 2.5em;
}

footer ul {
    display: flex;
}

footer ul li{
    font-size: 1.5em;
    margin: .75em;
}

footer ul li a{
    color: whitesmoke;
    padding: 5px;
}

/* Scroll Button */

#scroll-btn {
    position: fixed;
    display: none;
    bottom: 12.5em;
    right: 1.5em;
    z-index: 99;
    cursor: pointer;
    height: 3.25em;
  }
  

/* ================================== */

@media screen and (min-width: 577px) and (max-width: 960){
    body{
        display: none;
    }
}