/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
} 
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Section 1 -> Homepage */


body{
    max-width: 100%;
}

body *{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
*/
main{
    background: #8342FF;
    color: white;
}

#logo{
    display: flex;
    padding: 1em;
}

#logo-icon{
    width: 2.5em;
    padding-right: .3em;
    margin-top: .4em;
}

#logo a {
    margin-top: .5em;
    font-size: 1.5em;
}

main div *{
    text-decoration: none;
    color: white;
}

#header-main{
    text-align:center;
    padding: 1em;
}

#robo-mascot{
    width: 10em;
    height: 10em;
    margin: 2em;
}
#header-main p{
    font-size: 2.5em;
    font-weight: 900;
}

#header-main ul{
    display: flex;
    justify-content:center;
    margin-top: 1em;
    font-size: .8em;
}
#header-main ul a{
    text-decoration: none;
    color: white;
    padding: .75em;
}

#mascots{
    text-align: center;
    padding: 1em;
}

.orange-mascot{
    height: 15em;
}

#main-bottom{
    background: #0E0E0E;
    padding: 2.5em;
}

/* Section 2 -> DeCo */

#hero{
    padding: 3em 0;
    background-image:url(images/grid.svg);
}
#wrapper-deco{
    display: flex;
    justify-content: space-between;
    padding: 5em 3em 0 0;
    box-sizing: border-box;
    width: 960px;
    margin: auto;
}

#header-deco{
    font-weight: bolder;
    font-size:60px;
    margin-bottom: 20px;
}

#deco-left{
    margin: 0 1em;
 }
 
 #deco-left div{
     background: #0E0E0E;
     padding: 3em;
     height: 10em;
     border-radius: 1em;
     width: 10em;
 }
 
 #deco-right{
     margin: 2em;
  }
 
/* Section 3 -> Aggregator */

#wrapper-aggregator{
    margin-left: auto;
    margin-right: auto;
}

#black-bg-aggregator{
    background-image: url(images/black-bg-aggregator.svg);
    height: 290px;
    width: auto;
    margin: 300px 0;
}

#aggregator-main{
    background: #5556EF;
    color: white;
    border-radius: 30px;
    height: fit-content;
    padding: 7em 1em;
    display: flex;
    width: 960px;
    margin: auto;
    position: absolute;
    top: 102em;
    left: 0;
    right: 0;
}

#aggregator-main span{
    font-size: 60px;
    font-weight: 900;
}

#aggregator-main ul{
    display: flex;
    justify-content: center;
    padding: 1em;
}


/* Section 4 -> Hype Card Page */

#wrapper-hype-card{
    margin: 3em;
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin: auto;
    margin-bottom: 3em;
}

#header-hype-card {
    font-weight: bolder;
    font-size:60px;
    margin-top: 3em;
}

#hype-card-left{
   margin: 0 1em;
}

#hype-card-right{
    margin: 2em;
 }

/* Section 5 -> Contact Page */

#contact{
    display: flex;
    justify-content: space-around;
    background-color: #5556EF;
}

#wrapper-contact{
    color: whitesmoke;
    padding: 5em 4em;
    width: 960px;
    margin: auto;
}

#header-contact{
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
    font-size: 4em;
    margin-bottom: 10px;
}

#contact button{
    box-sizing: border-box;
    color: whitesmoke;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 1em 6em;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
}

/*
#text-design{
    margin: 1em;
    background: url(images/footer-eyes.svg);
}
*/
#join-us-contact-svg{
   margin-top: 3em;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    padding: 3em;
    height: 184px;
    background-color: #0E0E0E;
    color: whitesmoke;
}

footer p{
    font-size: x-small;
    margin-top: 2.5em;
}

footer ul {
    display: flex;
}

footer ul li{
    font-size: 1.5em;
    margin: .75em;
}

footer ul li a{
    color: whitesmoke;
    padding: 5px;
}

/* ================================== */