/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
} 
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
    font-family: 'global';
    src: url(Global-mL1qm\ 3.ttf) format('truetype')
}

/* ============================================================= */
/* Section 1 -> Homepage */


html{
    scroll-behavior: smooth;
}

body *{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

main{
    background: url(../images/homepage-bg.svg);
    color: white;  
}

.top{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.top button{
    border-radius: 25px;
    background: #936EFF;
    color: white;
    border: none;
    padding: 1em 2em;
    text-decoration: none;
    font-size: .9em;
    font-family: 'poppins';
}

.top button:hover{
    color: #280b5c;
    background-color: white;
    cursor:pointer;
}

#guilder{
    height: 30px;
    margin: 1em;
}

#request-beta{
    height: 30px;
    margin: 1em;
}

.launching-main{
    text-align:center;
    padding: 7em 0 2em 0;
}

.launching-main p{
    font-size: 116px;
    font-family: 'global';
}

.launching-main ul{
    display: flex;
    justify-content:center;
    gap: .5em;
    font-size: 17px;
}
.launching-main ul a{
    text-decoration:none;
    color: white;
    cursor: pointer;
}

.launching-main ul a:hover{
    color: rgb(255, 233, 233);
}

.mascots{
    text-align: center;
}

#blue-mascot,
#green-mascot{
    margin-bottom: 1.5em;
    height: 150px;
}

.orange-mascot{
    height: 170px;
    margin: 2em 1em -3px 1em;
}

#main-bottom{
    background: #0E0E0E;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: right;
}

#robo-with-box-mascot{
    margin: 2em;
    height: 200px;
    margin-top: -3em;
}

/* ============================================================= */
/* Section 2 -> Deco */

.hero{
    background-image:url(../images/grid.svg);
    overflow: hidden;  
}

.wrapper-deco{
    display: flex;
    justify-content: center;
    gap: 2.5em;
    padding-top: 5em;
    margin: 4em 12em 4.5em 12em;
}

.header-deco{
    padding-top: 7px;
    padding-bottom: .2em;
    font-size:73px;
    font-family: 'global';
    line-height: 65px;
}

.deco-description{
    line-height: 1.25em;
    font-size:22px;
    font-family: 'poppins';
    color: rgb(48, 48, 48);
}

/* ============================================================= */
/* Section 3 -> Aggregator */

.wrapper-aggregator{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#orange-head{
    width: 10em;
    position:relative;
    top: 2.7em;
    left: 65em;
}

#black-bg-aggregator{
    background-image: url(../images/black-bg-aggregator.svg);
    height: 290px;
    margin: 150px 0;
}

.aggregator-main{
    background: #5556EF;
    color: white;
    border-radius: 40px;
    height: 33em;
    width: 85%;
    padding: 5em 3em;
    display: flex;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 103em;
    left: 0;
    right: 0;
    overflow: hidden;
}

.aggregator-left{
    margin: 0 2em 0 0;
}

.aggregator-left span{
    font-size: 73px;
    font-family:'global';
    line-height: 65px;
}

.aggregator-left p{
    line-height: 1.25em;
    font-size:22px;
    font-family: 'poppins';
    color: white;
}

#aggregator-svg{
    height: 300px;
    width: auto;
}

#blue-robot{
    height: 10em;
    position: absolute;
    top: 130em;
    left: 6em;
}

/* Section 4 -> Hype Card */

.wrapper-hype-card{
    display: flex;
    justify-content: center;
    margin: 4em 12em 6em 12em;
}

.header-hype-card {
    padding-top: 2em;
    padding-bottom: .2em;
    font-size:73px;
    font-family: 'global';
    line-height: 65px;
}

.hype-card-description{
    line-height: 1.25em;
    font-size:22px;
    font-family: 'poppins';
    color: rgb(48, 48, 48);
}


/* Section 5 -> Contact Page */

.contact{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.wrapper-contact{
    display: flex;
    align-items: center;
    background-color: #8342FF;
    color: #F7F5FF;
    padding: 6em 4em 0 4em;
}

.contact-left{
    margin: auto;
}

#header-contact{
    color: whitesmoke;
    font-family: "global";
    font-size: 164px;
    line-height: 145px;
}

.contact button{
    box-sizing: border-box;
    color: whitesmoke;
    background-color: black;
    border: none;
    border-radius: 10px;
    padding: 15px 4em;
    margin-top: 2em;
    font-size: 1.2em;
    cursor: pointer;
}

.contact button:hover{
    color: black;
    background: white;;
}

#text-design{
    padding: 2em 0;
    
}

#contact-svg{
    margin-bottom: -5em;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    padding: 2.5em;
    background-color: #0E0E0E;
    color: whitesmoke;
}

footer p{
    font-size: x-small;
    margin-top: 3em;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3em;
}

footer ul li{
    font-size: 1.5em;
}

footer ul li a{
    color: white;
}

footer ul li a:hover{
    color:antiquewhite;
}

/* Scroll Button */

#scroll-btn {
    display: none;
    position: fixed;
    bottom: 11em;
    right: 1.5em;
    z-index: 99;
    cursor: pointer;
    height: 3.25em; 
}

/* ============================================================= */


@media (min-width: 1310px) and (max-width: 1340px){
    #orange-head{
        left: 60em;
    }
 }


@media (min-width: 1200px) and (max-width: 1310px){

    #orange-head{
        left: 55em;
    }

   #aggregator-svg{
       width: 25.5em;
   }

   #blue-robot{
    left: 3.3em;
    }
}

@media (min-width: 1120px) and (max-width: 1200px){

    #orange-head{
        left: 50em;
    }

    #aggregator-svg{
        width: 22em;
    }

    #blue-robot{
        left: 3.3em;
        }
 }

@media (min-width: 1000px) and (max-width: 1120px){
    
    #orange-head{
        left: 45em;
        top: 4.3em;
    }

    #aggregator-svg{
        display: none;
    }

    .aggregator-main{
        background: #5556EF;
        color: white;
        border-radius: 40px;
        width: 80%;
        top: 105em;
        display: flex;
        overflow: hidden;
        text-align: center;
        height: 30em;
    }

    #contact-svg{
        display: none;
    }
}

@media (min-width: 850px) and (max-width: 1000px){
    
    #orange-head{
        left: 35em;
        top: 7em;
    }

    main{
        background:#8342FF;
    }

    .launching-main p{
        font-size: 90px;
    }

    .header-deco,
    .header-hype-card {
        font-size: 55px;
        line-height: 50px;
    }

    .deco-description,
    .hype-card-description{
        line-height: 1em;
        font-size:17px;
    }

    #deco-svg,
    #hype-card-svg{
        width: 20em;
    }

    #black-bg-aggregator{
        margin: 12em 0;
    }

    #aggregator-svg,
    #contact-svg{
        display: none;
    }

    .aggregator-main{
        background: #5556EF;
        color: white;
        border-radius: 40px;
        width: 80%;
        top: 93.5em;
        display: flex;
        overflow: hidden;
        text-align: center;
        height: 30em;
    }

    #blue-robot{
        height: 10em;
        position: absolute;
        top: 117em;
        left: 3em;
    }

    #header-contact{
        font-size: 140px;
        line-height: 130px;
    }
}


@media (min-width: 600px) and (max-width: 850px){

    #orange-head{
        display: none;
    }

    main{
        background:#8342FF;
    }

    .launching-main p{
        font-size: 70px;
    }

    #robo-with-box-mascot{
        display: none;
    }

    #blue-mascot,
    #green-mascot{
        width: 6em;
        margin-bottom: 1em;
    }

    .orange-mascot{
        width: 7.5em;
        margin-bottom: -15px;
    }

    .header-deco,
    .header-hype-card {
        font-size: 45px;
        line-height: 40px;
    }

    .deco-description,
    .hype-card-description{
        line-height: 1em;
        font-size:12px;
    }

    #deco-svg,
    #hype-card-svg{
        width: 17em;
    }

    #black-bg-aggregator{
        height: 12em;
        margin: 12em 0;
    }

    #aggregator-svg,
    #contact-svg{
        display: none;
    }

    .aggregator-left span{
        font-size: 55px;
        line-height: 45px;
    }

    .aggregator-main{
        background: #5556EF;
        color: white;
        border-radius: 40px;
        width: 80%;
        top: 80em;
        display: flex;
        overflow: hidden;
        text-align: center;
        height: 25em;
    }

    #blue-robot{
        height: 8em;
        position: absolute;
        top: 100em;
        left: 3em;
    }

    .wrapper-hype-card{
        margin-bottom: 9em;
    }

    #header-contact{
        font-size: 100px;
        line-height: 90px;
    }

    #text-design{
        margin-left: -2em;
    }
    #scroll-btn {
        right: 1em;
        height: 2.5em; 
    }
}

/* =============================================================== */

@media (min-width: 550px) and (max-width: 600px){
    
    #orange-head{
        display: none;
    }

    main{
        background:#8342FF;
    }

    .launching-main p{
        font-size: 65px;
    }

    #robo-with-box-mascot{
        display: none;
    }

    #blue-mascot,
    #green-mascot{
        width: 5em;
        margin-bottom: -5px;
    }

    .orange-mascot{
        width: 7em;
        margin-bottom: -20px;
    }

    .header-deco,
    .header-hype-card {
        font-size: 35px;
        line-height: 32px;
    }

    .deco-description,
    .hype-card-description{
        line-height: 1em;
        font-size:10px;
    }

    .aggregator-left span{
        font-size: 40px;
        line-height: 32px;
    }

    .aggregator-left p{
        padding-top: 1em;
        line-height: 1em;
        font-size:10px;
    }

    #deco-svg,
    #hype-card-svg{
        width: 15em;
    }

    #black-bg-aggregator{
        height: 12em;
        margin: 12em 0;
    }

    #aggregator-svg,
    #contact-svg{
        display: none;
    }

    .aggregator-left span{
        font-size: 55px;
        line-height: 45px;
    }

    .aggregator-main{
        background: #5556EF;
        color: white;
        border-radius: 40px;
        width: 80%;
        top: 77em;
        display: flex;
        overflow: hidden;
        text-align: center;
        height: 25em;
    }

    #blue-robot{
        height: 8em;
        position: absolute;
        top: 96em;
        left: 3em;
    }

    .wrapper-hype-card{
        margin-bottom: 9em;
    }

    #header-contact{
        font-size: 90px;
        line-height: 80px;
    }

    .contact-left button{
        font-size: 1em;
    }

    #text-design{
        margin-left: -4em;
    }

    #scroll-btn {
        right: 1em;
        height: 2em; 
    }
}

@media (min-width: 500px) and (max-width: 550px){
    
    #orange-head{
        display: none;
    }

    main{
        background:#8342FF;
    }

    .launching-main p{
        font-size: 55px;
    }

    .launching-main ul li{
        font-size: 12px;
    }

    #request-beta{
        font-size: 12px;
    }

    #robo-with-box-mascot{
        display: none;
    }

    #blue-mascot,
    #green-mascot{
        width: 5em;
        margin-bottom: -5px;
    }

    .orange-mascot{
        width: 7em;
        margin-bottom: -20px;
    }

    .header-deco,
    .header-hype-card,
    #header-aggregator {
        font-size: 35px;
        line-height: 32px;
    }

    .deco-description,
    .hype-card-description{
        line-height: 1em;
        font-size:10px;
    }

    .aggregator-left p{
        padding-top: 1em;
        line-height: 1em;
        font-size:10px;
    }

    #deco-svg,
    #hype-card-svg{
        width: 15em;
    }

    #black-bg-aggregator{
        height: 12em;
        margin: 9em 0;
    }

    #aggregator-svg,
    #contact-svg{
        display: none;
    }

    .aggregator-left span{
        font-size: 55px;
        line-height: 45px;
    }

    .aggregator-main{
        background: #5556EF;
        color: white;
        border-radius: 40px;
        width: 80%;
        top: 75em;
        overflow: hidden;
        text-align: center;
        height: 20em;
    }

    #blue-robot{
        height: 8em;
        position: absolute;
        top: 90em;
        left: 3em;
    }

    .wrapper-hype-card{
        margin-bottom: 9em;
    }

    #header-contact{
        font-size: 90px;
        line-height: 80px;
    }

    .contact-left button{
        font-size: 1em;
    }

    #text-design{
        margin-left: -4em;
    }

    #scroll-btn {
        right: 1em;
        height: 2em; 
    }
}

@media (min-width: 400px) and (max-width: 500px){
    
    #orange-head{
        display: none;
    }

    main{
        background:#8342FF;
    }

    .launching-main p{
        font-size: 45px;
    }

    .launching-main ul li{
        font-size: 10px;
    }

    #request-beta{
        font-size: 10px;
    }

    #robo-with-box-mascot{
        display: none;
    }

    #blue-mascot,
    #green-mascot{
        width: 4em;
        margin-bottom: 4px;
    }

    .orange-mascot{
        width: 6em;
        margin-bottom: -30px;
    }

    .header-deco,
    .header-hype-card,
    #header-aggregator {
        font-size: 30px;
        line-height: 23px;
    }

    .deco-description,
    .hype-card-description{
        line-height: 1em;
        font-size:10px;
    }

    .aggregator-left p{
        padding-top: 1em;
        line-height: 1em;
        font-size:10px;
    }

    #deco-svg,
    #hype-card-svg{
        width: 10em;
    }

    #black-bg-aggregator{
        height: 9em;
        margin: 9em 0;
    }

    #aggregator-svg,
    #contact-svg{
        display: none;
    }


    .aggregator-left span{
        font-size: 55px;
        line-height: 45px;
    }

    .aggregator-main{
        background: #5556EF;
        color: white;
        border-radius: 40px;
        width: 80%;
        top: 68em;
        overflow: hidden;
        text-align: center;
        height: 17em;
    }

    #blue-robot{
        height: 7em;
        position: absolute;
        top: 80em;
        left: 2.5em;
    }

    .wrapper-hype-card{
        margin-bottom: 9em;
    }

    #header-contact{
        font-size: 70px;
        line-height: 60px;
    }

    .contact-left button{
        font-size: 1em;
    }

    #text-design{
        margin-left: -4em;
    }

    #scroll-btn {
        right: 1em;
        height: 2em; 
    }
}

@media (min-width: 400px) and (max-width: 500px){
 
    #orange-head{
        display: none;
    }
    
    main{
        background:#8342FF;
    }

    .launching-main p{
        font-size: 40px;
    }

    .launching-main ul li{
        font-size: 8px;
    }

    #request-beta,
    #guilder {
        font-size: 9px;
    }

    #robo-with-box-mascot{
        display: none;
    }

    #blue-mascot,
    #green-mascot{
        width: 3.5em;
        margin-bottom: -10px;
    }

    .orange-mascot{
        width: 5em;
        margin-bottom: -40px;
    }

    .header-deco,
    .header-hype-card,
    #header-aggregator {
        font-size: 25px;
        line-height: 20px;
    }

    .deco-description,
    .hype-card-description{
        line-height: 1.1em;
        font-size:8px;
    }

    .aggregator-left p{
        padding-top: 1em;
        line-height: 1em;
        font-size:10px;
    }

    #deco-svg,
    #hype-card-svg{
        width: 10em;
    }

    #black-bg-aggregator{
        height: 9em;
        margin: 6em 0;
    }

    #aggregator-svg,
    #contact-svg{
        display: none;
    }

    .aggregator-left span{
        font-size: 55px;
        line-height: 45px;
    }

    .aggregator-left {
        margin-left: 2em;
    }

    .aggregator-main{
        background: #5556EF;
        color: white;
        border-radius: 40px;
        width: 80%;
        top: 63em;
        overflow: hidden;
        text-align: center;
        height: 15em;

    }

    #blue-robot{
        height: 6em;
        position: absolute;
        top: 75em;
        left: 2em;
    }

    .wrapper-hype-card{
        margin-bottom: 9em;
    }

    #header-contact{
        font-size: 60px;
        line-height: 50px;
    }

    .contact-left button{
        font-size: .75em;
    }

    #text-design{
        margin-left: -4em;
    }

    footer div a img{
        height: 25px;
    }
    
    footer{
        font-size: 10px;
    }

    #scroll-btn {
        right: 1em;
        height: 2em; 
    }
}

@media (max-width: 400px){
    main{
        background:#8342FF;
    }

    #request-beta{
        font-size: 12px;
    }

    #guilder{
        height: 1.7em;
    }

    .launching-main p{
        font-size: 40px;
    }

    .launching-main ul li{
        font-size: 10px;
    }

    #blue-mascot,
    #green-mascot{
        width: 5em;
        margin-bottom: -2px;
    }

    .orange-mascot{
        margin-left: 0;
        margin-right: 0;
        width: 6em;
        margin-bottom: -32px;
    }

    #robo-with-box-mascot{
        display: none;
    }

    #main-bottom{
        height: 4em;
    }

    .wrapper-deco{
        display: block;
        text-align: center;
        margin: 5em 0 2em 0;
        padding: 0;
    }
    
    .header-deco,
    .header-hype-card {
        font-size: 35px;
        line-height: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .header-hype-card{
        margin-top: -1.7em;
    }

    #header-aggregator{
        font-size: 35px;
        line-height: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        
    }

    .deco-description,
    .hype-card-description{
        line-height: 1em;
        font-size:12px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        
    }

    .aggregator-left p{
        padding-top: 1em;
        line-height: 1em;
        font-size:12px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #deco-svg,
    #hype-card-svg{
        width: 20em;
    }

    #black-bg-aggregator{
        display: none;
    }

    #contact-svg{
        display: none;
    }

    #aggregator-svg{
        width: 18em;
        margin: 0;
        margin-top: -1em;
    }

    .aggregator-left span{
        font-size: 55px;
        line-height: 45px;
    }

    .aggregator-left {
        margin-left: 1em;
    }

    .aggregator-main{
        background: #5556EF;
        display: block;
        width: 100%;
        color: white;
        height: 100%;
        overflow: hidden;
        text-align: center;
        border-radius: 0;
        position: static;
        border: none;
        padding: 4em 3em 0 3em;
    }

    #blue-robot{
        display: none;
    }

    .wrapper-hype-card{
        display: block;
        text-align: center;
        margin: 5em 0 5em 0;
        padding: 0;
    }


    #header-contact{
        font-size: 65px;
        line-height: 55px;
        margin-left: -.4em;
        
    }

    .contact-left button{
        font-size: .8em;
        margin-left: -3em;
        width: 20em;
    }

    #text-design{
        height: 9em;
        margin-left: -5.2em;
    }

    footer div a img{
        height: 20px;
    }

    footer{
        font-size: 10px;
    }

    #scroll-btn {
        right: 1em;
        height: 2em; 
    }
}


/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    

    .wrapper{
        overflow: hidden;
    }

    .launching-main ul a{
        text-decoration:none;
        color: white;
        padding: 0 .5em;
        cursor: pointer;
    }

    #main-bottom{
        background: #0E0E0E;
        height: 100px;
        width: auto;
    }
    
    #robo-with-box-mascot{
        position: relative;
        left:79%;
        height: 200px;
    }

    #contact-svg{
        margin-bottom: -7.3em;
    }

    footer ul li a{
        color: white;
        padding: 0 1em;
    }

}}