/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
} 
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 


/* ============================================================= */

.wrapper{
    box-sizing: border-box;
    height: 100%;
    background-image:url(../images/hero.svg); 
}

.beta{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size:medium;
    position: absolute;
    top: 4%;
    left: 87%;
    padding: 10px;
}

.beta:hover{
    color: #280b5c;
    cursor:pointer;
}


.aggregator{
    width: 100%;
}

.deco,
.hypecard{
    width: 80%;
    display: block;
    margin: 5em auto 5em auto;
}

.contact{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1em;
}

footer{
    display: flex;
    justify-content:right;
    background: black;
    color: whitesmoke;
    height: 10em;
}

footer ul {
    display: flex;
}

footer ul li{
    font-size: 1.5em;
    margin: 2em;
    margin-top: 3em;
}

footer ul li a{
    color: whitesmoke;
    padding: 5px;
}

footer ul a:hover{
    filter: drop-shadow(1px 1px 1px rgb(188, 19, 255));
}

#scroll-btn {
    position: fixed;
    display: none;
    bottom: 12.5em;
    right: 1.5em;
    z-index: 99;
    cursor: pointer;
    height: 3.25em;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  

